.brochureformparent{
    height: 100vh;
    padding-top: 4vh;
    position: relative;
}
.brochureformback{
    position: absolute;
    width: 100%;
    height: 100vh;
}

.brochureformmain{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.brochureformmain::before{
   
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./../assets/images/Brochureform/brformbackmain.jpg') no-repeat right/200% 200%;
     /* or any other background properties you need */
   /* Adjust this value to change the opacity */
    z-index: -1;
}
.brochureformcontainer{
    width: 70%;
    padding: 0.5% 1%;
    height: 70vh;
    
    display: flex;
    flex-direction: row;
    
    position: relative;
    z-index: 1;
}


.brochureformcontainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:url('./../assets/images/Brochureform/brformcardback.png') ;
    background-size: 100% 100%; /* or any other background properties you need */
    opacity: 30%; /* Adjust this value to change the opacity */
    z-index: -1;
}
.brformleft{
    width: 40%;
    padding: 2%;

}

.brformright{
    width: 60%;
    padding: 2% 6%;

}
.brformleft img{
    width: 100%;
    height: 100%;
}
.brformright{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    color: #FFFFFF;
   
    
}
.brformright h1{
    width: 100%;
    font-family: Outfit;
    font-size: 64px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;

}
.brformin{
    width: 100%;

}
.brformin label{
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    

}
.brformin input{
    width: 100%;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    outline: none;
}
.brformin input::placeholder{
    font-family: Outfit;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding: 3px 10px;
    color: #00000080;
    

    
}
.brformbtncn{
    width: 100%;
    text-align: center;
}
.brformbtn{
    font-family: Outfit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    
    background-color: #264AE0;
    padding: 1% 3%;
    display: inline-block;
    border-radius: 8px;

}
@media (max-width: 754px){
    .brformright >h1{
        font-size: 20px;

    }
    .brochureformparent{
        height: auto;
        padding-top: 100px;
        position: relative;
    }
    .brochureformback{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .brochureformmain{
        position: relative;
        width: 100%;
        height: auto;
       
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .brochureformcontainer{
        width: 80%;
        height: 400px;
    }
}