.footermaincontainer {
    height: 60vh;
    color: white;
    display: flex;
    padding-top: 60px;
padding: 25px;
    padding-right: 60px;
    flex-direction: row;
    justify-content: space-between;
    background: #000000 url('./../assets/images/footerback.png') no-repeat bottom / 100% 130px;
    flex-wrap: wrap;
    overflow: hidden;

}

.kvsdetails {
    width: 45%;
}

.footer-logo {
    width: 270px;
    margin: 0 auto;
}

.kvsdetails p {
    padding: 20px;
    padding-left: 30px;
    color: #9B9B9C;
    font-size: 14px;
    line-height: 25px;
}

.footersm {
    display: flex;

    gap: 6%;
    padding-left: 10%;

    
}
.footersm a{
    width: 45px;
}
.footersm img {
    width: 100%;
    height: 100%;
 
}

.footnav {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 9%;
    font-size: 120%;
    align-items: center;
}

.footnavcenter a:hover p, .footnavleft a:hover p {
    color: #FF7F50;
}

.footnav p {
    color: #9B9B9C;
}

p.footnavhead {
    color: #1CE4F2;
}

.footnavaddress {
    text-align: center;
}

.footnavaddress p {
    text-align: center;
}
.footad{
    margin-left:20px ;
}

/* Responsive styles */
@media (max-width: 768px) {
    .footermaincontainer {
        flex-direction: row;
        align-items: center;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 20px;
    }
    .footersm {
        justify-content: center;
    }
    .footersm a{
        width: 30px;
    }
    .footer-logo {
        width: 150px;
        margin: 0 auto;
    }
    .kvsdetails {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .kvsdetails p{
        font-size: 10px;
    }
    .footersm a{
        width: 30px;
        font-size: 10px;
    }
    .footnav, .footnavcenter, .footnavaddress {
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
    }
    .footnavaddress{
        width: 70%;
    }
   

    .kvsdetails p {
        padding-left: 0;
        font-size: 10px;
        line-height: 20px;
    }

   
    .footnavleft,.footnavcenter{
        gap: 13px;
    }
    .footnavaddress{
        gap: 8px;
    }

    .footnav p {
        font-size: 10px;
    }
}
