.footermaincontainer {
    height: auto;
    color: white;
    display: flex;
    padding: 25px;
    padding-right: 60px;
    flex-direction: row;
    justify-content: space-between;
    background: #000000 url('./../assets/images/footerback.png') no-repeat bottom / 100% 130px;
    flex-wrap: wrap;
    overflow: hidden;
}

.kvsdetails {
    width: 45%;
}

.kvsdetails img {
    width: 270px;
    margin: 0 auto;
}

.kvsdetails p {
    padding: 20px;
    padding-left: 30px;
    color: #9B9B9C;
    font-size: 90%;
    line-height: 25px;
}

.footersm {
    display: flex;

    gap: 2%;
    padding-left: 10%;

    
}
.footersm a{
    width: 30px;
}
.footersm img {
    width: 100%;
    height: 100%;
 
}

.footnav {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 5%;
    font-size: 120%;
    align-items: center;
}

.footnavcenter a:hover p, .footnavleft a:hover p {
    color: #FF7F50;
}

.footnav p {
    color: #9B9B9C;
}

p.footnavhead {
    color: #1CE4F2;
}

.footnavaddress {
    text-align: center;
}

.footnavaddress p {
    text-align: left;
}

/* Responsive styles */
@media (max-width: 768px) {
    .footermaincontainer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        padding-right: 20px;
    }

    .kvsdetails, .footnav, .footnavcenter, .footnavaddress {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .kvsdetails img {
        width: 200px;
    }

    .kvsdetails p {
        padding-left: 0;
        font-size: 80%;
    }

    .footersm {
       


    }

    .footnav p {
        font-size: 100%;
    }
}
