/* .job-details {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .job-details h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
    text-align: center;
  }
  
  .job-details p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  .job-details p span {
    font-weight: bold;
  }
  
  .job-details ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .job-details ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .job-details ul li:last-child {
    border-bottom: none;
  }
   */
.jobdetailparent {
  background-color: #141414;
  color: #ffffff;
}
.jd1main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3%;
}
.jd4titleback img {
  width: 200px;
  margin-left: 20px;
  animation: rotate 10s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.jd1main > h1 {
  font-family: Outfit;
  font-size: 110px;
  font-weight: 900;
  line-height: 161.28px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}
.jd4titleback1 {
  margin-left: 4%;
  margin-right: 2%;
}
.jd4titleback1 img {
  height: 130px;
}
.jd4titleback2 img {
  height: 50px;
}
.jd2main {
  height: 100vh;
  padding: 2%;
}
.jd2cardcon {
  width: 100%;
  height: 100%;

  padding: 2%;
}
.jd2main {
  width: 100%;
  text-align: center;
  display: flex;

  flex-direction: column;
}

.jd2main h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: left;
}

.jd2cardcon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
  width: 80%;
  margin: 0 auto;
}

.jdcard1,
.jdcard2,
.jdcard3,
.jdcard4 {
  background-color: transparent;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border: 1px solid #ffffff40;
  padding: 10px 20px;
}

/* Staggering Effect */
.jdcard1 {
  transform: translateY(20%);
}

.jdcard2 {
  transform: translateY(40%);
  /* height: unset;
  min-height: 300px; */
}

.jdcard3 {
  transform: translateY(60%);
}

.jdcard4 {
  transform: translateY(80%);
}
.jdline {
  width: 80%;
  height: 3px;
  background-color: #ffffff40;
}
.jdskillcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.jdskillcon::-webkit-scrollbar {
  display: none;
}

.jdskillcon h2 {
  width: 100%;
  font-size: 90%;
  line-height: 40px;
}
.jd3dcon {
  width: 80%;
  overflow-x: hidden;
}
.jd3dcon pre {
  font-size: 100%;
  font-family: outfit;
}
.jd3main {
  height: auto;
  padding: 4%;
}
.jd3dcon {
  width: 100%;

  padding: 4%;
}
#resumejd4in {
  display: none;
}
.jd4main {
  width: 100%;
  height: auto;
  padding: 2%;
}
.jd4back1 {
  position: absolute;
  z-index: 4;
  width: 180px;
  height: auto;
  top: -50px;
  left: -30px;
}
.jd4back1 img {
  width: 100%;
  height: 100%;
  animation: rotate 15s infinite linear;
}
.jd4back2 {
  position: absolute;
  width: 200px;
  z-index: 1;
  bottom: -30px;
  right: -40px;
}
.jd4back2 img {
  width: 100%;
  height: 100%;
}
.jd4sub {
  width: 90%;
  height: 90%;

  position: relative;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;

  color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.jd4sub h1 {
  text-align: center;

  margin-bottom: 20px;
  font-family: Outfit;
  font-size: 64px;
  font-weight: 700;
  line-height: 80.64px;
}

.jd4in {
  margin-bottom: 15px;
  width: 70%;
}

.jd4in label {
  display: block;
  margin-bottom: 5px;

  font-family: Outfit;
  font-size: 30px;
  font-weight: 500;

  text-align: left;
}

.jd4in input[type="text"],
.jd4in input[type="email"],
.jd4in input[type="tel"],
.jd4in input[type="url"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  background-color: transparent;
  border-bottom: 1px solid #000000;
}
input:focus {
  outline: none;
}
/* .jd4resume {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: left;
  align-items: left;
  
} */
.education-section {
  padding: 10px 20px;
  background-color: #c7bfbf;
}
.jd4resume input[type="file"] {
  display: block;
}

.jd4resume label {
  background-color: #333;
  color: #fff;

  display: inline-block;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  font-family: Outfit;
  font-size: 25px;
  font-weight: 500;
}
.removeedu,
.addedu {
  background-color: #333;
  color: white;
  font-size: 100%;
  outline: none;
  border: none;
  padding: 5px 10px;
}
.removeedu {
  margin-top: 5px;
}
.jd4submit {
  display: block;

  padding: 10px;
  background-color: #6200ee;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: Outfit;

  font-weight: 500;
  text-transform: nowrap;
}

.jd4submit:hover {
  background-color: #3700b3;
}
.inreq {
  color: red;
  font-size: 20px;
  margin-left: 10px;
}
.applysuccess {
  color: green;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .jd2cardcon {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .jd2cardcon {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 754px) {
  .jd1main {
    height: 40vh;
    padding-top: 140px;
  }
  .jd1main > h1 {
    font-size: 30px;
    line-height: 40.28px;
  }
  .jd4titleback img {
    width: 100px;
    margin-left: 20px;
    animation: rotate 10s infinite linear;
  }
  .jd4titleback1 img {
    height: 50px;
  }
  .jd4titleback2 img {
    height: 20px;
  }
  .jd2main {
    height: auto;
  }
  .jd2main > h1 {
    font-size: 20px;
    margin-left: 20px;
  }
  .jd2cardcon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
  }
  .jd2cardcon {
    grid-template-columns: 1fr;
  }
  .jd2cardcon .jdcard1,
  .jdcard2 {
    transform: none;
  }
  .jd2cardcon > div {
    background-color: transparent;
    height: 200px;
    width: 47%;
    padding: 5px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    transform: none;
  }
  .jdskillcon h2 {
    padding-top: 5px;
    font-size: 10px;
    line-height: 17px;
  }
  .jd2cardcon > div > h1 {
    font-size: 15px;
  }
  .jd3main {
    padding-bottom: 40px;
  }
  .jd3dcon pre,
  .jd3dcon p {
    font-size: 60%;
  }
  .jd4sub > h1 {
    font-size: 34px;
  }
  .jd4in {
    margin-bottom: 7px;
    width: 90%;
  }
  .jd4in label {
    font-size: 20px;
    margin-bottom: 2px;
  }
  .jd4in input[type="text"],
  .jd4in input[type="email"],
  .jd4in input[type="tel"],
  .jd4in input[type="url"] {
    font-size: 10px;
  }
  .jd4submit {
    font-size: 10px;
    padding: 5px 10px;
  }
  .jd4resume label,
  .removeedu,
  .addedu {
    font-size: 10px;
    padding: 4px 8px;
  }
  .jd4resume {
    margin-top: 10px;
  }
  .jd4back1 {
    position: absolute;
    z-index: 4;
    width: 60px;
    height: auto;
    top: -50px;
    left: -30px;
  }
  .jd4back2 {
    position: absolute;
    width: 60px;
    z-index: 1;
    bottom: -30px;
    right: -40px;
  }
  .inreq {
    color: red;
    font-size: 10px;
    margin-left: 5px;
  }
}
