.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .sidecontainer {
    width: 28%;
    height:100vh ;
    /* Add other styles as needed */
  }
  
  .main-content {
        padding: 30px;

        width: 72%;
    /* Add other styles as needed */
  }
  