.card {
    position: relative;
    width: 25%;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .title-con{
    padding: 4px 15px;
  }
  .card-title {
    
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
  .card-info{

    font-size: 18px;
  }
  .like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: gray; /* Default color */
  }
  
  .like-button.liked {
    color: black; /* Liked state color */
  }
  