.projectmaincontainer{
    padding: 30px;
}
.projectmaincontainer > h2,.projectmaincontainer h1{
    margin-bottom: 10px;
}

.card-container{
   
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;

}
.project{
    width: 28%;
    margin-bottom: 20px;
    border-radius: 5px;
}
.projectimage{
    display: flex;
    flex-direction: column;
    position: relative;
}
.projectimg{
    
    width: 100%;
    height: 250px;
}
.projectdetails{
    padding: 10px;
    background-color: rgb(206, 199, 199);
}
.favheart{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1px;
    right: 1px;
    
}


@media screen and  (max-width:900px){
    .card-container{
   
       flex-direction: row;
    }
    .project{
        width: 48%;
       
}
    
}
      