.addclientmaincontainer {
    padding: 30px 10%;
    font-size: 120%;
    background-color: rgb(207, 204, 204);
}

.adclientcontainer {
    background-color: white;
    padding: 8%;
    height: 84vh;
    border-radius: 5px;
}

.addclient-title {
    margin-bottom: 40px;
}

.addclienttitle span {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 2px;
    background-color: blue;
}

.addclient-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.inputcontainer {
    margin-bottom: 15px;
    width: 48%;
}
.inputcontainer input,.inputcontainer label{
    width: 100%;

}
.inputcontainer p{
    font-size: 70%;
}
.item {
    width: 40%;
    border: none;
    height: 30px;
    padding: 20px;
    background-color: rgb(207, 204, 204);
    border-radius: 2px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

#logo-upload {
    display: none;
}

.logolabel {
    padding: 3px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: gray;
    font-size: 75%;
}

.logolabel span {
    display: flex;
    padding: 3px 15px;
    border-radius: 2px;
    text-align: center;
    background-color: rgb(109, 109, 241);
    color: white;
    margin-left: 10px;
}

.logolabel span h5 {
    margin-left: 10px;
    margin-top: 2px;
    font-size: 100%;
}

.logolabel img {
    width: 25px;
}

.addclient-submit {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.addclient-submit input {
    background-color: rgb(72, 72, 250);
    margin-top: 20px;
    color: white;
    font-size: 110%;
    height: 40px;
    padding: 5px 5%;
    border: none;
    border-radius: 3px;
}


