.Clientservicemaincontainer{
    padding: 20px 10%;
    font-size: 120%;
    background-color: rgb(207, 204, 204);
}
.cstitle >span{
    background-color: #264AE0;
    padding: 10px 4%;
    display: inline-block;
    color: white;
    border-radius: 2px;
}
.Clientservicecontainer{
    background-color: white;
    padding: 5%;
    height: 84vh;
    border-radius: 5px;
}
.Clientservice-title{
    margin-bottom: 30px;
}
.service1{
    display: flex;

}
.service1right,.service1left{
    width: 50%;
}
.maincheckcontainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.checkcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4%;
    justify-content: space-between;
    
    
}
.serinput{
    display: flex;
    margin-bottom: 5px;
    width: 50%;
    
    margin-bottom: 10px;
    align-items: center;
}
.serinput input{
    margin-right: 8px;
}
.serinput label{
    font-size: 90%;
}
.service-details{
    padding: 7px;
}
.serviceselect{
    display: flex;
    gap: 2%;
}
.service-details h5{
    margin-bottom: 3px;
}
.discount{
    width: 100%;
    margin-top: 20px;
    
}
.discount input{
    background-color: rgb(192, 188, 188);
    border: none;
    outline: none;
    height: 40px;
    width: 50%;
    padding: 13px 15px;
    border-radius: 2px;

}
.generate{
    text-align: center;
    margin-top: 20px;
}
.generate button{
    width: 200px;
   
    font-size: 110%;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
    background-color:#264AE0;
}