.Clientservicemaincontainer{
    padding: 30px 10%;
    font-size: 120%;
    background-color: rgb(207, 204, 204);
}
.cstitle >span{
    background-color: #264AE0;
    padding: 10px 4%;
    display: inline-block;
    color: white;
    border-radius: 2px;
}
.Clientservicecontainer{
    background-color: white;
    padding: 8% ;
    height: 84vh;
    border-radius: 5px;
}
.Clientservice-title{
    margin-bottom: 45px;
}
.service1{
    display: flex;

}
.service1right,.service1left{
    width: 50%;
}
.checkcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4%;
    gap: 4%;
    
}
.serinput{
    display: flex;
    margin-bottom: 5px;
}
.serinput input{
    margin-right: 8px;
}
.serinput label{
    font-size: 90%;
}
.quality{
    width: 80%;
    margin-top: 20px;
    
}
.quality input{
    background-color: rgb(192, 188, 188);
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding: 13px 15px;
    border-radius: 2px;

}
.service1right{
    padding: 5%;
}
#package{
    background-color: rgb(212, 199, 199);
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding: 13px 15px;
    border-radius: 2px;
    color: white;

}
#package option{
    
    margin-bottom: 5px;
    height: 40px;
    display: block;
    width: 100%;
    padding: 30px;
    border-radius: 2px;
    color: white;

}
.discount{
    width: 100%;
    margin-top: 46px;
    
}
.discount input{
    background-color: rgb(192, 188, 188);
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding: 13px 15px;
    border-radius: 2px;

}
.generate{
    text-align: center;
    margin-top: 50px;
}
.generate button{
    width: 200px;
   
    font-size: 110%;
    border: none;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
    background-color:#264AE0;
}