.invoicemaincontainer{
    padding: 2% 8%;
    background: linear-gradient(90deg,rgb(96, 96, 255),rgb(206, 70, 70));
}
.invoiceecontainer{
    background-color: white;
    padding-top: 30px;

}
.head{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;

}
.red{
    width: 20px;
    background-color: rgb(255, 208, 0);
}
.titleleftcontainer{
    display: flex;
}

.headtitle img{
    width: 100px;
}
.headtitle{
    margin-left: 8px;
}
.titlerightcontainer h1{
    padding: 5px;
    background-color: rgb(255, 166, 0);
}
.invoicedetails{
    display: flex;
    
    padding: 10px  5%;
    margin-top: 20px;
    gap: 10px;
    justify-content: space-between;
}
.rigtdetails{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.leftdetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rigtdetailsrow{
    display: flex;
    width: 70%;
    margin-bottom: 5px;
    justify-content: center;
   
    
   


}

.rigtdetailsrow .lb{
    width: 50%;
   
}
.rigtdetailsrow .rb ,.rigtdetailsrow .dropdown-container {
   
    padding: 5px;
   
    width: 60%;
    
}
.dropdown-container .rb{
    margin-top: 5px;
}
.rigtdetailsrow input.rb ,.rigtdetailsrow select.rb{
    outline: none;
    background-color: rgb(224, 219, 219);
    border: none;
}
.rightdetailsrow input:focus{
    outline: none;
}
.lb{
    color:cay;
    width: 300px;
    margin-right: 10px;
    
}
.invoicetable table td,th{
    background-color: rgb(206, 206, 206);
    border: none;
    
    padding:10px 2%;
    border: 1px solid black;
    
}
.invoicetable{
    padding: 10px 5%;
}
.invoicetable table{
    border-collapse: collapse;
    width: 100%;
}
#totallable,#gstlable,#dueAmountLabel{
    
    text-align: right;
}
.paymentdetails{
    padding: 10px 5%;
}
.paymentdetails h4{
    margin-bottom: 10px;
}
.invoicefoot{
    padding: 10px 4%;
    font-size: 90%;
    display: flex;
    justify-content: space-between;
}
.downloadcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
   
    gap: 10px;
}
.downloadcon button  img{
    width: 25px;
}
.downloadcon button{
    background-color: rgb(11, 11, 255);
    padding: 10px 20px;
    
    font-size: 110%;
    margin: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
    border: none;
    border-radius: 4px;
}
.downloadcon button:hover{
    background-color: rgb(68, 68, 255);
}
.downloadcon span{
    color: white;
}
#gstlabel,#discountlabel,#totallabel{
    text-align: right;
}