.circularcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 160px;
    height: 160px;
    margin: 0;
    padding: 0;
}
.circularp {
    height: 160px;
    width: 160px;
    position: relative;
    animation: effect 10s linear infinite;
    text-align: center;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

@keyframes effect {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circularspan {
    position: absolute;
    left: 50%;
    transform-origin: 0px 80px;
    transform-style: flat;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    word-spacing: 10px;
}

.circularcontainer:hover .circularspan {
    color: #C1F258;
}

.center-image {
    position: absolute;
    top: 44%;

    left: 35%;
    
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    transform: translate(-50%, -50%);
    animation: effect 5s  reverse infinite ;
}