.landfeedbackmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.landfeedbackslider {
  width: 100%;
  overflow: hidden;
}

.landsider-wrapper {
  display: flex;
 width: 200%; /* Ensure the width is twice the container for continuous effect */
  animation: marquee 50s linear infinite;
  gap: 3%;
}

.landfeedbackcard {
  min-width: 300px; /* Adjust based on your design */
  flex: 0 0 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.landfeedback {
  font-size: 16px;
  padding: 10px 20px;
  text-align: left;
  flex: 1;
}

.landclientcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landclient {
  display: flex;
  align-items: center;
}

.landclient img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.landclient span {
  text-align: left;
}

.landclient span h5 {
  margin-left: 7px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
