.landfeedbackslidemaincontainer {
  padding: 20px;
  /* Ensure no scrollbars appear */
}

.landfeedbackslider {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 3%;
}

.landslide {
 display: flex;

  /* Include padding and border in width */
}
.landslider-wrapper {
 /* 
  animation: marquee 20s linear infinite;  Adjust duration based on content length */
}



.landfeedbackcard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  height: 210px;
  width: 400px;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.landfeedback {
  font-size: 16px;
  overflow: hidden;
  padding: 20px;z
}

.landclientcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landclient {
  display: flex;
  width: 40px;
  align-items: center;
  
}

.landclient img {
  border-radius: 50%;
 width: 30px;
  margin-right: 10px;
}

.landclientlogo {
  font-size: 20px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
