/* General Styles for Desktop */
.landfeedbackmain {
  width: 100%; /* Full width for container */
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.landfeedbacksub {
  height: 100vh;
  background: transparent;
  align-items: center;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.landfeedback2 {
  position: absolute;
  background: url('./../../assets/images/feedbackback.png') no-repeat bottom/100% 100%;
  height: 100%;
  z-index: 1;
  width: 100%;
  right: 0;
  top: 0;
}

.landfeedbacktitle {
  height: 30%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.landfeedbacktitle > h1 {
  font-size: 4rem; /* Consistent scaling */
  margin: 0;
}

.landfeedbacktitle > p {
  font-size: 1.6rem;
  margin-top: 10px;
}

.landsider-wrapper {
  width: 100%;
  padding: 2vh 0;
  display: flex;
  justify-content: center;
}

.landfeedbackcard {
  border-radius: 8px;
  padding: 13px;
  text-align: center;
  height: 220px;
  width: 600px; /* Fixed width for feedback cards */
  background-color: #fff;
  color: black;
  margin: 0 10px;
  box-sizing: border-box;
  margin-right: 100px;
  flex-shrink: 0; /* Prevent shrinking of the card in a flex container */
}

.landfeedback {
  font-size: 1.1rem;
  overflow: hidden;
  padding: 10px 20px;
  height: 90%;
  margin-bottom: 10px;
  text-align: left;
}

.landclientcontainer {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: space-between;
}

.landclient {
  display: flex;
  width: 100%;
  padding-left: 30px;
  padding-bottom: 20px;
  align-items: center;
}

.landclient img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.landclient span h5 {
  padding-left: 7px;
}

.landclientlogo {
  font-size: 20px;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  .landfeedbackmain {
    width: 100%; /* Full width for container on mobile */
    height: auto;
  }

  .landfeedbacksub {
    height: auto;
    width: 100%;
    align-items: center;
  }

  .landfeedbacktitle > h1 {
    font-size: 2rem;
    margin: 0;
  }

  .landfeedbacktitle > p {
    font-size: 1rem;
    margin-top: 10px;
  }

  .landfeedbackcard {
    height: 120px;
    width: 280px; /* Fixed width for mobile */
    background-color: #fff;
    color: black;
    margin: 0 5px; /* Less margin for smaller screens */
  }

  .landfeedback {
    font-size: 0.9rem;
    padding: 10px;
  }

  .landclient img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
