.land1clientlogocontainer {
  overflow: hidden;
  background-color: #141414;
  width: 100%;
  padding:3% 0;
}

.scrolling-wrapper {

  width: 100%/* Double the width to accommodate the duplicate */
}


.scrolling-wrapper img {
  height: 120px;
 
  object-fit: cover;
  margin-right: 30px; /* Space between logos */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
